{% extends "dormitory/layout.html" %}

{% block body %}
<title>Admin</title>
<style>
    .button5 {
        background-color: #cec8ef;
        color: black;

        border: 2px solid white;
    }

    .button5:hover {
        background-color: #aa98e7;
        color: rgb(0, 0, 0);
        border: 1px solid #e2e2e2;
    }

    .button6 {
        background-color: rgb(238, 125, 105);
        color: black;
        border: 1px solid white;
    }

    .button6:hover {
        background-color: white;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(238, 125, 105);
    }

    .button7 {
        background-color: rgb(255, 255, 255);
        color: black;
        height: 2.35em;
        border: 1px solid rgb(238, 125, 105);
    }

    .button7:hover {
        background-color: rgb(238, 125, 105);
        color: rgb(0, 0, 0);
    }

    .button8 {
        background-color: rgb(255, 255, 255);
        color: black;
        border: 1px solid #aa98e7;
    }

    .button8:hover {
        background-color: #aa98e7;
        color: rgb(0, 0, 0);
    }

    .p2 {
        font-family: "Prompt", sans-serif;
        font-size: 0.95em;
    }

    .p3 {
        font-family: "Prompt", sans-serif;
        font-size: 2.5em;
    }

    .p4 {
        font-family: "Prompt", sans-serif;
        font-size: 1.2em;
    }

    .p4:hover {
        color: #aa98e7;
    }

    .p5 {
        font-family: "Prompt", sans-serif;
        font-size: 1.1em;
    }

    .line {
        height: 1px;
        width: 100%;
        background-color: #E0E0E0;
        margin-top: 10px;
    }

    img.scaled {
        width: 250px;
        height: 200px;
    }
</style>

<script language="javascript">
    function confirm_delete() {
        var answer = window.confirm("ยืนยันการลบ");
        return answer;
    }
    function confirm_reset() {
        var answer = window.confirm("ยืนยันการรีเซ็ต");
        return answer;
    }
</script>




<div style="margin-left: 10%; margin-right: 10%; margin-bottom: 13em;">

    <!-- news -->
    <h2 class="p3"><b>ข่าวสาร<b></h2>
    <br>
    <div class="container">
        <!-- {% if not dormitories %} -->
        <b class="p4">ยังไม่มีการเพิ่มหอพัก</b>
        <!-- {% else %}
        {% for dorm in dormitories %} -->
        <div class="row">
            <!-- {% if not dorm.status%} -->
            <div class="col">
                <a href="#" style="text-decoration: none;"><b
                        class="p4"></b></a>
                <p style="float: right;">
                    <b class="p2">STATUS: </b> <b class="p2" style="color: tomato;">Not Showing</b>
                </p>

                <br>
                <br>
                <div style="float: right;">
                    <a href="#"><button type="button"
                            class="btn button5 p2" style="width: 10em; height: 2.5em; margin-top: -0.5em;"><b>Change
                                Status</b></button></a>
                    <a href="#"><button type="button"
                            class="btn button6 p2" style="width: 5.8em; height: 2.5em; margin-top: -0.5em;"
                            onclick="return confirm_delete()"><b>Delete</b></button></a>
                </div>
                <div class="figure">
                    <img class="img-thumbnail scaled" src="#">
                </div>
            </div>
            <br>
            <!-- {% else %} -->
            <div class="col">
                <a href="#" style="text-decoration: none;"><b
                        class="p4"></b></a>
                <p style="float: right;">
                    <b class="p2">STATUS: </b><b class="p2" style="color: #5cb484;">Showing</b>
                </p>

                <br>
                <br>
                <div style="float: right;">
                    <a href="#"><button type="button"
                            class="btn button8 p2" style="width: 10em; height: 2.35em; margin-top: -0.5em;"><b>Change
                                Status</b></button></a>
                    <a href="#"><button type="button"
                            class="btn button6 p2" style="width: 5.8em; height: 2.5em; margin-top: -0.5em;"
                            onclick="return confirm_delete()"><b>Delete</b></button></a>
                </div>
                <div class="figure">
                    <img class="img-thumbnail scaled" src="#">
                </div>
            </div>
            <br>

            <br>
            <!-- {% endif%} -->

        </div>
        <br>
        <div class="line"></div>
        <br>
        <!-- {% endfor %}
        {% endif %} -->
    </div>

    <!-- announcement -->
    <h2 class="p3"><b>ข่าวประชาสัมพันธ์<b></h2>
    <br>
    <div class="container">
        <!-- {% if not dormitories %} -->
        <b class="p4">ยังไม่มีการเพิ่มหอพัก</b>
        <!-- {% else %}
            {% for dorm in dormitories %} -->
        <div class="row">
            <!-- {% if not dorm.status%} -->
            <div class="col">
                <a href="#" style="text-decoration: none;"><b class="p4"></b></a>
                <p style="float: right;">
                    <b class="p2">STATUS: </b> <b class="p2" style="color: tomato;">Not Showing</b>
                </p>
    
                <br>
                <br>
                <div style="float: right;">
                    <a href="#"><button type="button" class="btn button5 p2"
                            style="width: 10em; height: 2.5em; margin-top: -0.5em;"><b>Change
                                Status</b></button></a>
                    <a href="#"><button type="button" class="btn button6 p2"
                            style="width: 5.8em; height: 2.5em; margin-top: -0.5em;"
                            onclick="return confirm_delete()"><b>Delete</b></button></a>
                </div>
                <div class="figure">
                    <img class="img-thumbnail scaled" src="#">
                </div>
            </div>
            <br>
            <!-- {% else %} -->
            <div class="col">
                <a href="#" style="text-decoration: none;"><b class="p4"></b></a>
                <p style="float: right;">
                    <b class="p2">STATUS: </b><b class="p2" style="color: #5cb484;">Showing</b>
                </p>
    
                <br>
                <br>
                <div style="float: right;">
                    <a href="#"><button type="button" class="btn button8 p2"
                            style="width: 10em; height: 2.35em; margin-top: -0.5em;"><b>Change
                                Status</b></button></a>
                    <a href="#"><button type="button" class="btn button6 p2"
                            style="width: 5.8em; height: 2.5em; margin-top: -0.5em;"
                            onclick="return confirm_delete()"><b>Delete</b></button></a>
                </div>
                <div class="figure">
                    <img class="img-thumbnail scaled" src="#">
                </div>
            </div>
            <br>
    
            <br>
            <!-- {% endif%} -->
    
        </div>
        <br>
        <div class="line"></div>
        <br>
        <!-- {% endfor %}
            {% endif %} -->
    </div>

</div>
{% endblock %}