{% extends "form/layout.html"%}
{% load tag %}
{% block body%}
{% load static %}
<title>เอกสารการฝึกงาน {{step}}</title>

<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'form/css/internship.css' %}" >
    <style>
       
        p, {
            font-family: "Athiti", sans-serif;
        }
        h1,
        h2,
        h3 {
        font-family: "Athiti", sans-serif;
        }
        h2
        {
            text-align: left;
        }
        
    </style>
</head>

<body>
    <div class= "headtag">
        <h1>ระบบลงทะเบียนแจ้งสถานที่ฝึกงาน &#128394; </h1>
        
    </div>
    
    <div class="progressbar">
        <ul>
            <li class="active">
                <img src="/static/images/p_step1.png"><br>
                <p style="font-size:18px;">ลงทะเบียนขอใบอนุเคราะห์</p>
                
            </li>
            {% if step == 1 %}
                <li class="active" >
                    <img src="/static/images/p_step2.png"><br>
                    
                    <p style="font-size:18px;">ลงทะเบียนขอใบส่งตัว</p>
                    
                </li>
                <li>
                    <img src="/static/images/p_step3.png"><br>
                    
                    <p style="font-size:18px;">อนุมัติใบส่งตัว</p>
                    
                </li>
                
            {% elif step > 1 %}
                
                <li  class="active">
                    <img src="/static/images/p_step3.png"><br>
                    
                    <p style="font-size:18px;">อนุมัติใบส่งตัว</p>
                    
                </li>
                <li class="active">
                    <img src="/static/images/p_step3.png"><br>
                    
                    <p style="font-size:18px;">อนุมัติใบส่งตัว</p>
                    
                </li>
            {% else %}
                <li>
                    <img src="/static/images/p_step2.png"><br>
                    
                    <p style="font-size:18px;">ลงทะเบียนขอใบส่งตัว</p>
                    
                </li>
                <li>
                    <img src="/static/images/p_step3.png"><br>
                    
                    <p style="font-size:18px;">อนุมัติใบส่งตัว</p>
                    
                </li>
        </ul>
    </div>
    {% endif %}
 
    
</ul>
</div>


    <div class="content">
        {% if step == 0 %}

            <!--<h2>This is step #{{step}}</h2>-->
            <h2><img src="/static/images/p_step1.png">ขั้นตอนลำดับที่ 1 ลงทะเบียนขอใบส่งตัว </h2>
            
            <a href="{{init_form.file.url}}"><b class="p12" style="margin-left: 10px;"><u>download</u></b></a>
            <form method="POST" action="{% url 'form:internship' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="desc" type="text" name="desc" placeholder="หมายเหตุ"
                    class="form-control bg-white border-left-0 border-md">
                <label><b class="p5">file</b></label>
                <p><input class="form-control me-2" type="file" name="form_file" required></p>
                <input type="submit" value="ยืนยัน" class="btn button1 p5"></input>
            </form>

        {% elif step == 1 %}

            <!-- <h2>This is step #{{step}}</h2>-->
            <h2 > <img src="/static/images/p_step2.png"> ขั้นตอนลำดับที่ 2 ลงทะเบียนขอใบอนุเคราะห์</h2>
        {% if not forms %}
            <h1>Processing your request</h1>
        {% else %}
        {% for form in forms %}
            <p>ขอใบอนุเคราะห์</p>
            <h2>{{forloop.counter}}</h2>
            <a href="{{form.file.url}}"><b class="p12" style="margin-left: 10px;"><u>download</u></b></a>
        {% endfor %}

            <form method="POST" action="{% url 'form:internship' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="desc" type="text" name="desc" placeholder="หมายเหตุ"
                    class="form-control bg-white border-left-0 border-md">
                <label><b class="p5">file</b></label>
                <p><input class="form-control me-2" type="file" name="form_file" required></p>
                <input type="submit" value="ยืนยัน" class="btn button1 p5"></input>
            </form>
        {% endif %}

        {% elif step == 2 %}
            <!--<h2>ขั้นตอนที่ #{{step}}</h2>-->
            <h2 > <img src="/static/images/p_step3.png"> ขั้นตอนลำดับที่ 3 อนุมัติใบส่งตัว</h2>
          
            

        {% if not forms %}
            <h2>Processing your request</h2>
        {% else %}
        {% for form in forms %}
            <h3>ผลการแจ้งลงทะเบียนสถานที่ฝึกงาน ในขั้นตอนที่ {{forloop.counter}} </h3>
            
            <a href="{{form.file.url}}"><b class="p12" style="margin-left: 10px;font-size:20px;"><u> &#128204; download</u></b></a>
        {% endfor %}

        {% endif %}
        {% endif %}
    </div>
    
</body>


{% endblock%}            