{% extends "thread/layout.html"%}
{% block body%}
<title>สร้างกระทู้</title>



<form method="POST" action="{% url 'thread:create_thread' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 style="text-align: center; margin: 50px;"><b>สร้างกระทู้</b></h1>

    <div class="container" >
        <div class="row">
            {%if fail_header%} 
                <div style="color: tomato; margin-left: 5em;"><p class="p5"><b>{{fail_header}}</b></p></div><br> 
            {%endif%}
            <div class="col" style="margin-top: 25px;">
                <div class="form-group" style="width: 25em; margin-left: 5em;">
                    <label><b class="p5">ชื่อกระทู้</b></label>
                    <p><input type="text" name="header" class="form-control" maxlength="120" placeholder="Enter thread header" required/></input></p>
                    <br>
                </div>
                
                <div class="form-group" style="width: 25em; margin-left: 5em;">
                    <label><b class="p5">คำอธิบายกระทู้</b></label>
                    <p><input type="text" name="desc" class="form-control" maxlength="300" placeholder="Enter thread header" required/></input></p>
                    <br>
                </div>
                <div class="form-group" style="width: 25em; margin-left: 5em;">
                        <label><b class="p5">รูปภาพ</b></label>
                        <div>
                            <input type="file" id="fileupload" name="fileupload" class="form-control"/>
                        </div>
                        <div id="display_image" class="profile-images-card" style="display: none;">
                            <div class="profile-images">
                                <img src="images/profile.png" id="upload-img" style="width: 600px;height: 600px;">
                            </div>
                        </div>
                    </div>
                <div style="margin-left: 5em; margin-top: 30px;">
                    <input type="submit" value ="ยืนยัน" class="btn button1 p5"></input>
                    
                </div>
                <br><br><br><br><br><br><br>
            </div>
                <br>
                <br>
            <div class="col" style="margin-left: 5em; margin-top:25px;"> 
                <p class="p5"><b>เนื้อหา:</b>{{ form.Content }}</p>
                </div>
        </div>
    </div>
</form>
{{ form.media }}

<script src="js/jquery-latest.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#fileupload").change(function(event) {
			var x = URL.createObjectURL(event.target.files[0]);
			$("#upload-img").attr("src",x);
            var display_image = document.getElementById("display_image");
            display_image.style.display='block';
			console.log(event);
		});
	})
</script>
{% endblock %}
